@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,700");
@import url("https://fonts.googleapis.com/css?family=Prata");
.nav-mobile {
  display: none;
  text-align: center; }
  .nav-mobile .mobile-logo {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-family: 'Prata', serif;
    font-size: 20px;
    color: #3f4147; }
    .nav-mobile .mobile-logo:hover {
      color: #3f4147; }

a {
  text-decoration: none;
  color: #3f4147;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  transition: 0.3s; }
  a:hover {
    color: #8cc9cd;
    transition: 0.3s; }

#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 20px;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #3f4147;
  border-radius: 2px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #3f4147; }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 310px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 165px;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  #menu .home {
    color: #8cc9cd;
    font-weight: 700; }

#menu li {
  padding: 10px 0;
  font-size: 18px; }

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1; }

@media only screen and (max-width: 990px) {
  .nav-desktop {
    display: none; }

  .nav-mobile {
    display: block;
    height: 60px;
    width: 100%;
    background-color: #fff; } }
@media only screen and (max-width: 750px) {
  #menu {
    width: 140px; } }
.nav-desktop {
  height: 10em;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 80px;
  z-index: 3; }
  .nav-desktop .logo {
    font-family: 'Prata', serif;
    font-size: 22px;
    margin-left: 30px; }
    .nav-desktop .logo:hover {
      color: #3f4147; }
  .nav-desktop ul {
    list-style: none;
    display: inline-flex;
    margin-left: -20px; }
    .nav-desktop ul li a {
      color: #3f4147;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 200;
      text-decoration: none;
      margin-right: .8em;
      margin-left: .8em;
      transition: 0.3s;
      padding: .66em 0;
      text-align: center;
      font-size: 1.5em;
      letter-spacing: .05em;
      position: relative; }
      .nav-desktop ul li a:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
        border-bottom: 2px solid #8cc9cd;
        transition: width 0.3s; }
      .nav-desktop ul li a:hover:after {
        width: 100%;
        text-align: center; }
    .nav-desktop ul li a:hover {
      color: #8cc9cd;
      transition: 0.3s; }
    .nav-desktop ul li img {
      margin-top: 20px; }

.hero {
  position: relative;
  min-height: 568px;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow: hidden;
  background-image: url("../img/tokyo-panorama.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px; }

.hero-text {
  background-color: #fff;
  color: #3f4147;
  width: 35vw;
  margin-left: 6%;
  padding: 2em;
  background-color: #fff;
  text-align: center; }
  .hero-text h5, .hero-text h1, .hero-text p {
    font-family: 'Titillium Web', sans-serif; }
  .hero-text h1, .hero-text p {
    font-weight: 200; }
  .hero-text h5 {
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1.5;
    margin-top: 3px; }
  .hero-text h1 {
    font-size: 3em;
    line-height: 1.5;
    margin-top: -10px; }
  .hero-text p {
    font-size: 1.4em;
    letter-spacing: .025em;
    margin: 0 0 1.5em;
    line-height: 1.7;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; }

@media (min-width: 992px) {
  .hero-text {
    padding: 4em; } }
@media (max-width: 770px) {
  .hero-text {
    width: 87vw;
    margin: 100px auto; } }
@media (max-width: 570px) {
  .hero-text {
    width: 85vw; } }
@media (max-width: 485px) {
  .hero-text {
    width: 84vw;
    margin-top: 0px; } }
@media (max-width: 455px) {
  .hero-text {
    width: 83vw; }
    .hero-text h1 {
      font-size: 2.3em; } }
.about {
  padding: 60px 250px 100px 250px;
  background-color: #ececec;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #3f4147; }
  .about h5 {
    font-size: 3em; }
  .about p {
    font-size: 2em;
    margin-top: -20px;
    margin-bottom: 50px; }
  .about a {
    font-size: 2em;
    background-color: #fff;
    padding: 1em;
    border: 2px solid #8cc9cd;
    border-radius: 2px; }
    .about a:hover {
      color: #3f4147; }

@media (max-width: 940px) {
  .about {
    padding: 40px 150px 100px 150px; } }
@media (max-width: 710px) {
  .about {
    padding: 40px 80px 100px 80px; } }
@media (max-width: 550px) {
  .about {
    padding: 40px 40px 100px 40px; } }
@media (max-width: 450px) {
  .about {
    padding: 30px 10px 80px 10px; } }
footer {
  background-color: #fff;
  text-align: center;
  padding: 20px 0 10px 0; }
  footer .row-1 a {
    font-size: 1.7em;
    margin-left: 0.8em;
    margin-right: 0.8em; }
  footer .row-2 p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4em; }

.narrow-hero {
  height: 400px;
  background-image: url("../img/narrow-hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  .narrow-hero h1, .narrow-hero h4 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200; }
  .narrow-hero h1 {
    font-size: 6em;
    padding-top: 130px; }
  .narrow-hero h4 {
    font-size: 2.5em; }

@media (max-width: 990px) {
  .narrow-hero {
    height: 200px;
    margin-top: -35px; }
    .narrow-hero h1 {
      font-size: 5em;
      padding-top: 40px; }
    .narrow-hero h4 {
      font-size: 2em;
      margin-top: -20px; } }
@media (max-width: 620px) {
  .narrow-hero h1 {
    font-size: 4em;
    padding-top: 50px; } }
@media (max-width: 375px) {
  .narrow-hero h1 {
    font-size: 3.2em;
    padding-top: 60px; } }
.content {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.7em;
  padding: 80px 0; }
  .content p {
    width: 50%;
    margin: 0 auto; }

@media (max-width: 915px) {
  .content p {
    width: 75%; } }
@media (max-width: 400px) {
  .content p {
    width: 85%; } }
body {
  padding: 0;
  margin: 0;
  font-size: 10px; }

/*# sourceMappingURL=app.css.map */
