@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,700');
@import url('https://fonts.googleapis.com/css?family=Prata');

@import 'nav';
@import 'hero';
@import 'about';
@import 'footer';

body {
  padding: 0;
  margin: 0;
  font-size: 10px;
}
