.about {
  padding: 60px 250px 100px 250px;
  background-color: #ececec;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #3f4147;
  h5 {
    font-size: 3em;
  }
  p {
    font-size: 2em;
    margin-top: -20px;
    margin-bottom: 50px;
  }
  a {
    font-size: 2em;
    background-color: #fff;
    padding: 1em;
    border: 2px solid #8cc9cd;
    border-radius: 2px;
    &:hover {
      color: #3f4147;
    }
  }
}

// *************
// MEDIA QUERIES
// *************

@media (max-width: 940px) {
  .about {
    padding: 40px 150px 100px 150px;
  }
}

@media (max-width: 710px) {
  .about {
    padding: 40px 80px 100px 80px;
  }
}

@media (max-width: 550px) {
  .about {
    padding: 40px 40px 100px 40px;
  }
}

@media (max-width: 450px) {
  .about {
    padding: 30px 10px 80px 10px;
  }
}
