


nav {
  height: 10em;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 80px;
  z-index: 3;
  ul {
    list-style: none;
    display: inline-flex;
    li {
      a {
        color: #3f4147;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 200;
        text-decoration: none;
        margin-right: .8em;
        margin-left: .8em;
        transition: 0.3s;
        padding: .66em 0;
        text-align: center;
        font-size: 1.5em;
        letter-spacing: .05em;
				position: relative;
				&:after {
					content: '';
			    position: absolute;
			    bottom: -2px;
			    left: 50%;
			    -ms-transform: translateX(-50%);
			    transform: translateX(-50%);
			    width: 0;
			    border-bottom: 2px solid #8cc9cd;
			    transition: width .3s
				}
				&:hover:after {
				  width: 100%;
					text-align: center;
				}
      }
      a:hover {
        color: #8cc9cd;
        transition: 0.3s;
      }
      img {
        margin-top: 20px;
      }
    }
  }
}
