
nav {
  height: 10em;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 80px;
  z-index: 3;
  ul {
    list-style: none;
    display: inline-flex;
    li {
      a {
        color: #3f4147;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 200;
        text-decoration: none;
        margin-right: .8em;
        margin-left: .8em;
        transition: 0.3s;
        padding: .66em 0;
        text-align: center;
        font-size: 1.5em;
        letter-spacing: .05em;
      }
      a:hover {
        color: #8cc9cd;
        transition: 0.3s;
      }
      img {
        margin-top: 20px;
      }
    }
  }
}
