.content {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  padding: 80px 0;
  p {
    width: 50%;
    margin: 0 auto;
  }
}

// *************
// MEDIA QUERIES
// *************

@media (max-width: 915px) {
  .content {
    p {
      width: 75%;
    }
  }
}

@media (max-width: 400px) {
  .content {
    p {
      width: 85%;
    }
  }
}
