.content {
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.7em;
  padding: 80px;
  p {
    width: 70%;
    margin: 0 auto;
  }
  h5 {
    margin-bottom: -1px;
  }
}

// *************
// MEDIA QUERIES
// *************

@media (max-width: 915px) {
  .content {
    p {
      width: 75%;
    }
  }
}

@media (max-width: 600px) {
  .content {
    padding: 80px 20px;
  }
}

@media (max-width: 410px) {
  .content {
    padding: 40px 8px;
    p {
      width: 90%;
    }
  }
}
